<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>YUVS Home Loans
          </h6>
          <p>
            Buying a house is a dream for many and involves a lot of financial planning. YUVS Home Loans makes it simpler for those who want to realize this dream. With our express home loans platform you can now get digital sanction of your home loan at attractive rate of interest in just few simple steps.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Services
          </h6>
          <p>
            <li>Apply for Loan</li>
          </p>
          <p>
            <li>Check Repayment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;details</li>
          </p>
          <p>
            <li>Manage Repayments</li>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#reno1" class="text-reset">Renovation Loan</a>
          </p>
          <p>
            <a href="#land1" class="text-reset">Land Loan</a>
          </p>
          <p>
            <a href="#new1" class="text-reset">New Property Loan</a>
          </p>
          <p>
            <a href="#veteran1" class="text-reset">Veteran Loan</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3"></i> Greater Noida, UP, INDIA</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            yuvs.homeloans@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 91 8295 271831</p>
          <p><i class="fa fa-print me-3"></i> + 91 2889 928132</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.788);color: rgb(60, 172, 60);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://coforge.com">YUVS Home Loans</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->